
.license-div {
    font-size: 80%;
    text-align: center;
}

.license-div img {
    margin-bottom: .2em;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    color: #deb72f;
}

.navbar-default .navbar-brand {
/*    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}