
// -----------------------------------------------------------------------------
// Parameters:

$default-font-size: 14px;
$input-border: 1px solid #ccc;
$navbar-color-1: #ffffff;
$navbar-color-2: #e0e6e0;
$fg-color-1: #d6dfd6;
$expose-bg-color: #e2e9e6;

// -----------------------------------------------------------------------------

// Original Bootstrap's CSS depends on empty href attributes to style cursors
// for several components (pagination, tabs etc.). But in AngularJS adding empty
// href attributes to link tags will cause unwanted route changes. This is why
// we need to remove empty href attributes from directive templates and as a
// result styling is not applied correctly. The remedy is simple, just add the
// following styling to your application:
// Source: http://angular-ui.github.io/bootstrap/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

// -----------------------------------------------------------------------------
// Font settings:

@mixin open-sans-regular($size: 1rem) {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: $size;
}
@mixin open-sans-semibold($size: 1rem) {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: $size;
}
@mixin open-sans-bold($size: 1rem) {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: $size;
}

// -----------------------------------------------------------------------------
// Basic resets:

* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
}

html, body {
  width: 100%;
  height: 100%;
  //position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
select,
button {
  @include open-sans-regular(14px);
}

.ng-cloak {
  opacity: 0;
}

// -----------------------------------------------------------------------------
// Navigation bar:

.navbar-brand {
  @include open-sans-semibold(20px);
  padding-left: 24px;
}

.navbar-nav {
  @include open-sans-semibold(14px);
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav >li>a
{
  color: $fg-color-1;
}

/// This fixes issue with current implementation [7 nov, '15]
.collapsible-nav {
  height: 0px;
  overflow: hidden;
}

// -----------------------------------------------------------------------------
// expose styles:

.expose-body {
  @include open-sans-semibold(14px);
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 50px 0 0 0; // top padding for fixed bootstrap navbar
  color: $fg-color-1;
  background-color: $expose-bg-color;

  .expose-content {
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.white-dashed-line {
  stroke: #fff;
  stroke-dasharray: 5px;
}

// -----------------------------------------------------------------------------
// Chart SVG styles:

#charts {
  background-color: #FF5555;
}

.charts-title {
  @include open-sans-semibold(16px);
  fill: #000;
  text-anchor: middle;
  //dominant-baseline: hanging;
  shape-rendering: crispEdges;
}

.chart-title {
  @include open-sans-semibold(11px);
  fill: #000;
  text-anchor: left;
  dominant-baseline: hanging;
  shape-rendering: crispEdges;
}

.chart-bg {
  fill: #FFF;
  stroke: #AAA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.chart-axis .grid-lines {
  stroke: #DDD;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.chart-axis .axis-labels {
  fill: #333;
  stroke: none;
  @include open-sans-semibold(10px);
  shape-rendering: crispEdges;
}

.x-axis .axis-labels {
  text-anchor: middle;
  dominant-baseline: hanging;
}
.x-axis .axis-labels .axis-label-min {
  text-anchor: start;
}
.x-axis .axis-labels .axis-label-max {
  text-anchor: end;
}

.y-axis .axis-labels {
  text-anchor: end;
  dominant-baseline: central;
}
.y-axis .axis-labels .axis-label-min {
  dominant-baseline: use-script;
}
.y-axis .axis-labels .axis-label-max {
  dominant-baseline: hanging;
}

.plot-lines {
  stroke: #ED1C24;
  fill: none;
  stroke-width: 1;
  stroke-opacity: .5;
}

.plot-points {
  fill: #ED1C24;
  stroke: none;
}

.legend-label {
  fill: #333;
  stroke: none;
  @include open-sans-semibold(11px);
  dominant-baseline: central;
  shape-rendering: crispEdges;
}

.chart-combo-title {
  @include open-sans-semibold(13px);
}
